body{
  background-color: #efefef;

}
.custom-menu{
  background-color: #1f4162 /*background color of the header image text*/
}
.content{
  margin-top: 270px;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom:15%;
}

